body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

.masthead-nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
}

.masthead-nav > .nav-content { /* ask mentor how come the site did have these only had the height but not the width or margin  refer to: http://thinkful-ed.github.io/karma-clone/css/style.css;*/
	height: 4.375rem;
	width: 1150px;
	margin: 0 auto; /* centers .navcontent inside .masthead-nav */
}

img {
	border: 0;
	margin: 1rem 1rem;
}